# Proceso de ETL datos CNC

Se inicia visualizando la data etiquetada como 2012

In [4]:
import pandas as pd 

path_2012 = 'Data_CNC/d2012---copia.xlsx'
df2012 = pd.read_excel(path_2012)

In [5]:
df2012

,ID,ORDEN,NEFEC1,NEFEC2,NEFEC3,NEFEC4,NEFEC5,NEFEC6,REGION,MUNICIPIO,...,P52_45_1,P52_46_1,P52_47_1,P52_48_1,P52_49_1,P52_50_1,P52_51_1,P52_52_1,P52_53_1,FACTOR
0,2012,1,6.0,NaN,NaN,NaN,NaN,1.0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.1778
1,2012,2,NaN,NaN,NaN,NaN,NaN,NaN,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.1778
2,2012,3,4.0,NaN,NaN,NaN,NaN,3.0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.1778
3,2012,4,6.0,NaN,NaN,NaN,NaN,3.0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.1778
4,2012,5,6.0,1.0,NaN,NaN,NaN,3.0,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.1778
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1655,2012,1656,6.0,4.0,NaN,3.0,NaN,NaN,6,44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.8027
1656,2012,1657,8.0,1.0,NaN,2.0,NaN,NaN,6,44,...,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,11.8027
1657,2012,1658,6.0,NaN,NaN,NaN,NaN,1.0,6,44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.8027
1658,2012,1659,11.0,5.0,NaN,NaN,NaN,NaN,6,44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.8027
1659,2012,1660,5.0,1.0,NaN,2.0,NaN,NaN,6,44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.8027